# Veritabanı bağlantısı
MONGODB_URI=mongodb://mongodb:27017/reports

# Server portu
PORT=3000

# Node environment
NODE_ENV=production

# Uygulama URL'leri (production için güncelleyin)
FRONTEND_URL=http://localhost:8080
BACKEND_URL=http://localhost:3000
